<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acceil | FootZone+</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body>

    <div class="container-fluid bg-success">
      <nav class="navbar navbar-expand-lg bg-success">
        <div class="container">
          <a class="navbar-brand fw-semibold text-white fs-3" href="/">FootZone+</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active text-white shadow" aria-current="page" href="/">Acceuil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white shadow" href="#">A propos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white shadow" href="#">Match</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white shadow">Contact</a>
                </li>
              </ul>
            </div>
            <a href="{% url 'profil' %}" class="btn text-white me-3 fw-semibold shadow"><i class="bi bi-person-fill"></i></a>
            <a href="{% url 'connexion' %}" class="btn btn-warning text-dark fw-semibold shadow">Se connecter</a>
        </div>
      </nav>
    </div>
    
  
    {% block index %}
    {% endblock index %}

    {% block profil %}
    {% endblock %}

    {% block reservation %}
    {% endblock %}

    <footer class="bg-dark py-3">
      <p class="text-secondary text-center">2025 | &copy; FootZone+ | Tous droits réservés !</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  </body>
</html>