{% extends 'base.html' %}

{% block contact %}

<section>
    <div class="container">
        <div class="container">
            <div class="row py-5 g-3">
                <h1 class="text-success py-2 fw-semibold">Contactez - nous !</h1>
                <div class="col-md-6">
                    <img class="w-100" src="https://th.bing.com/th/id/OIP.VhAKo7zDHRpOQsVfhR166QHaHa?rs=1&pid=ImgDetMain" alt="">
                </div>
                <div class="col-md-6">
                    <form action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        {% if msg %}
                            <p class="bg-success py-2 text-white">{{msg}}</p>
                        {% endif %}
                        <label class="py-3" for="nom">Nom</label>
                        <input class="form-control" type="text" name="nom" placeholder="Votre nom ici" required>
                        <label class="py-3" for="prenom">Prénom</label>
                        <input class="form-control" type="text" name="prenom" placeholder="Votre Prénom ici" required>
                        <label class="py-3" for="phone">Téléphone</label>
                        <input class="form-control" type="text" name="phone" placeholder="Votre Numéro ici" required>
                        <label class="py-3" for="email">Email</label>
                        <input class="form-control" type="email" name="email" placeholder="Votre Adresse Email ici" required>
                        <label class="py-3" for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" placeholder="Votre message ici ..."></textarea>
                        <button class="btn btn-warning my-3 fw-semibold">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}