{% extends "base.html" %}
{% block index %}

<section class="bg-dark">
    <div class="container py-5">
        <div class="row g-3">
            <div class="col-md-6 mt-5 pt-5 pe-5">
                <h1 class="text-warning">Avec FootZone+</h1>
                <p class="text-white">Suivez tous les matchs à un prix très abordable</p>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, impedit modi. Nesciunt maxime pariatur quas delectus magni quae accusamus quod ab, quis quo unde, reiciendis incidunt modi nam quibusdam veniam.</p>
                <a href="{% url 'reservation' %}" class="btn btn-warning fw-semibold">Reserver votre billet -></a>
            </div>
            <div class="col-md-6">
                <!-- <form method="get" class="d-flex" role="search">
                  <input class="form-control me-2" name="recherche" type="search" placeholder="Search" aria-label="Search"/>
                  <button class="btn bg-warning text-dark fw-semibold" type="submit">Recherche</button>
                </form> -->
                <img class="w-100 my-5 shadow" src="https://th.bing.com/th/id/OIP.GuckXi3RLmzQhYPi169nZQHaEK?w=332&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        {% if match %}
        <div class="row g-3">
            <h1 class="pb-3">Matchs à venir</h1>
            <hr>
            {% for m in match %}
            <div class="col-md-3">
                <div class="card w-100 shadow" style="width: 18rem;">
                    <img src="{{m.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{m.equipe_locale}} Vs {{m.equipe_visiteuse}}</h5>
                        <p class="card-text">Date et Heure : Le {{m.date}} à {{m.heure}}</p>
                        <!-- <a href="#" class="btn btn-warning">Détails</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'reservation' %}"><button class="btn btn-success">Réserver maintenant</button></a>
        </div>
        {% else %}
        <p>Aucun match à afficher pour le moment !</p>
        {% endif %}
    </div>
</section>

{% endblock index %}